@media (max-width: 1024px) {
  header.header .header__nav .header_nav-button {
    display: block;
  }

  header.header .header__nav .header__nav-menu {
    display: none;
  }

  .features .feature__item .feature-item__content {
    gap: 40px;
  }

  .dignitys .container {
    gap: 40px;
  }

  .integrations .integrations__icon-wrapper img {
    flex: 1 1 calc(30% - 121px);
  }

  footer.footer .footer__subscribe {
    flex: 1 0 100%;
  }
}

@media (max-width: 768px) {
  .hero .hero__body {
    width: 100%;
  }

  .hero .hero__body .body__input {
    flex: 1 1 100%;
  }

  .hero .hero__body .body__button {
    flex: 1 1 100%;
  }

  .reliable .reliable__body-block {
    gap: 48px;
    flex-direction: column;
  }

  .dignitys .dignity {
    flex: 0 0 calc(50% - 40px * 1 / 2);
  }

  .features .container {
    gap: 48px;
  }

  .features .feature__item .feature-item__content {
    gap: 32px;
  }

  .features .feature__item .feature-item__content .item-content__body {
    flex-direction: column-reverse;
  }

  .features .feature__item {
    flex-direction: column;
    gap: 48px;
  }

  .features .feature__item .feature-item__animate-box {
    padding-right: 100%;
  }

  footer.footer .container {
    flex-direction: column-reverse;
  }

  footer.footer .footer__nav {
    flex: 1 1 100%;
  }

  footer.footer .footer__corp-info {
    flex: 1 1 100%;
    gap: 48px;
  }
}

@media (max-width: 375px) {
  .section__header {
    gap: 16px;
  }

  header.header {
    padding: 24px 0 40px;
  }

  .hero .container {
    gap: 48px;
  }

  .hero .hero__header {
    gap: 16px;
  }

  .dignitys .dignity {
    flex: 1 1 100%;
  }
}
